/* bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://images.ctfassets.net/hrltx12pl8hq/P2RGKB7LPQYciQOpinIaf/4f2042b96fd8011ef0d7c4b60358760f/shutterstock_1335359774.jpg?fit=fill&w=920&h=526&fm=webp);
}
bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://images.ctfassets.net/hrltx12pl8hq/P2RGKB7LPQYciQOpinIaf/4f2042b96fd8011ef0d7c4b60358760f/shutterstock_1335359774.jpg?fit=fill&w=920&h=526&fm=webp);
}
bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://images.ctfassets.net/hrltx12pl8hq/P2RGKB7LPQYciQOpinIaf/4f2042b96fd8011ef0d7c4b60358760f/shutterstock_1335359774.jpg?fit=fill&w=920&h=526&fm=webp);
} */
